
.bg-gradient-to-r {
  background: linear-gradient(135deg, rgba(45, 45, 45, 1), rgba(35, 35, 35, 1));
}


.text-gray-200 {
  color: #e2e8f0;
}

.text-gray-300 {
  color: #d1d5db;
}

.text-gray-400 {
  color: #9ca3af;
}

.text-gray-600 {
  color: #4b5563;
}

.text-teal-600 {
  color: #319795;
}

button:hover {
  background-color: #2c7a7b;
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
